/* Media queries */
/*
USE
@media @tablet {
  footer {
    width: 768px;
  }
}
@media @desktop {
  footer {
    width: 940px;
  }
}
*/
/**
	attach an opacity to any color (especially from @variable), after calling this mixin, use @resultAlphaColor as a result:
	{
	 	.alphaColor(@text-color, 0.2);
		color: @resultAlphaColor;
	}
**/
/**
	cross browser simple linear gradient
**/
/* Gradient Mixin - https://webdesign.tutsplus.com/tutorials/making-gradients-easier-with-less-mixins--cms-24072  */
/*
As mentioned, we’re only required to specify the gradient type and the colors, for example:
.gradient(linear; #2BC0E4, #EAECC6);
Notice that each parameter should be separated with a ;. We use a comma to list colors and vendor prefixes.

If you would like to customize the color stop you could write:
.gradient(linear; #2BC0E4, #EAECC6 30%);

Changing the gradient direction should be done with an angle value instead of its keyword counterpart:
.gradient(linear; #2BC0E4, #EAECC6 30%; 180deg);

The following is an example in which we create a radial gradient:
.gradient(circle; #2BC0E4, #EAECC6);

Generating a repeating gradient? No problemo:
.gradient(repeating-linear; #085078, #2BC0E4 25px, #EAECC6 50px);
In this case, make sure you adjust the background-size accordingly to see the desired result.
*/
/* Mini reset */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: 16px;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
body {
  font-family: 'oswald', sans-serif;
  background-color: #f1f3f5;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  color: #515961;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media only screen and (min-width: 769px) {
  section {
    padding: 80px 0;
  }
}
h2 {
  font-family: 'robotoslab', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 56px;
  font-size: 5.6rem;
  color: #87ABCF;
}
h3 {
  font-family: 'exo-bold', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  font-size: 3.6rem;
  color: #87ABCF;
}
p {
  margin-bottom: 8px;
}
@media only screen and (min-width: 991px) {
  p {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
p a {
  color: #87ABCF;
  text-decoration: underline;
}
p a:hover,
p a:focus {
  color: #515961;
}
.google-map iframe {
  height: 300px;
}
@media only screen and (min-width: 769px) {
  .google-map iframe {
    height: 400px;
  }
}
footer {
  background-color: #87ABCF;
  color: #f1f3f5;
  padding: 24px 0 16px 0;
}
@media only screen and (min-width: 769px) {
  footer {
    padding: 40px 0 16px 0;
  }
}
footer .contact {
  border-bottom: 1px solid #f1f3f5;
  margin-bottom: 40px;
}
@media only screen and (min-width: 769px) {
  footer .contact {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    padding-bottom: 24px;
    margin-bottom: 40px;
  }
}
footer .contact address,
footer .contact .phone,
footer .contact .mail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 20px;
  font-size: 2rem;
  padding: 16px 0;
}
footer .contact address img,
footer .contact .phone img,
footer .contact .mail img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
footer .contact .mail a,
footer .contact .phone a {
  text-decoration: none;
  color: #f1f3f5;
}
#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  background-color: transparent;
  width: 50px;
  height: 50px;
}
@font-face {
  font-family: 'exo-bold';
  src: url('../../fonts/exo-bold.woff2') format('woff2'), url('../../fonts/exo-bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'exo-black';
  src: url('../../fonts/exo-black.woff2') format('woff2'), url('../../fonts/exo-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fjallaone';
  src: url('../../fonts/fjallaone.woff2') format('woff2'), url('../../fonts/fjallaone.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoslab';
  src: url('../../fonts/robotoslab.woff2') format('woff2'), url('../../fonts/robotoslab.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'oswald';
  src: url('../../fonts/oswald.woff2') format('woff2'), url('../../fonts/oswald.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* components */
header {
  /* Responsive bit */
  /* MENU BURGER */
}
header .logo {
  background-color: #f1f3f5;
  padding: 8px 8px 0 8px;
}
@media only screen and (min-width: 769px) {
  header .logo {
    position: relative;
    left: 10%;
    padding: 16px;
    border-bottom: 8px solid #87ABCF;
    margin-bottom: -24px;
    width: 250px;
  }
}
@media only screen and (min-width: 769px) {
  header .logo img {
    width: 100%;
    padding: 0 16px 16px 16px;
  }
}
header .nav-bar {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 769px) {
  header .nav-bar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 0;
  }
}
header a.menu-link {
  display: inline-block;
  margin-right: 16px;
}
header nav[role="navigation"] {
  clear: both;
  transition: all 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
  width: 100%;
  padding-top: 0;
}
@media only screen and (min-width: 769px) {
  header nav[role="navigation"] {
    width: auto;
  }
}
header nav[role="navigation"].active {
  max-height: 300px;
}
@media only screen and (min-width: 769px) {
  header nav[role="navigation"].active {
    padding-top: 24px;
  }
}
header nav[role="navigation"] ul {
  margin: 0;
  padding: 0;
}
header nav[role="navigation"] ul li a {
  position: relative;
  display: block;
  padding: 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
}
@media only screen and (min-width: 769px) {
  header nav[role="navigation"] ul li a {
    font-size: 20px;
    font-size: 2rem;
  }
}
header nav[role="navigation"] ul li a:after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 0;
  background-color: #87ABCF;
  transition: all 0.2s ease-out;
}
header nav[role="navigation"] ul li a:hover:after,
header nav[role="navigation"] ul li a:focus:after {
  height: 4px;
}
@media screen and (min-width: 48.25em) {
  header a.menu-link {
    display: none;
  }
  header nav[role="navigation"] {
    max-height: none;
  }
  header nav[role="navigation"] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
  }
  header nav[role="navigation"] li {
    display: inline-block;
    margin: 0 0.25em;
  }
  header nav[role="navigation"] li a {
    border: 0;
  }
}
header .content {
  height: 600px;
  background: whitesmoke;
}
header .menu-link {
  width: 30px;
  cursor: pointer;
  height: 26px;
}
header .menu-link.active .menu-icon .line.top {
  top: 12px;
  transform: rotate(45deg);
  transition-delay: 0s, 0.3s;
}
header .menu-link.active .menu-icon .line.middle {
  background-color: transparent;
  transition-delay: 0.3s;
}
header .menu-link.active .menu-icon .line.bottom {
  top: 12px;
  transform: rotate(-45deg);
  transition-delay: 0s, 0.3s;
}
header .menu-link .menu-icon {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 30px;
}
header .menu-link .menu-icon .line {
  position: absolute;
  display: block;
  height: 2px;
  width: 30px;
  background-color: #000;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 0, 0);
}
header .menu-link .menu-icon .line.top {
  top: 2px;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
  -webkit-transition-property: top, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}
header .menu-link .menu-icon .line.middle {
  top: 12px;
  transition-duration: 0s;
  transition-delay: 0.3s;
}
header .menu-link .menu-icon .line.bottom {
  top: 22px;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
  -webkit-transition-property: top, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}
.header-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: url(../img/bg-mir-winter.jpg) center / cover no-repeat;
  height: 400px;
  border-top: 8px solid #87ABCF;
}
@media only screen and (min-width: 769px) {
  .header-content {
    height: 600px;
  }
}
.header-content h1 {
  font-family: 'robotoslab', sans-serif;
  font-size: 25px;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: auto;
  color: #f1f3f5;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 8px rgba(150, 150, 150, 0.5);
  max-width: 90%;
}
@media only screen and (min-width: 769px) {
  .header-content h1 {
    font-size: 50px;
    font-size: 5rem;
    max-width: 60%;
    margin: auto;
  }
}
