/* Media queries */
/*
USE
@media @tablet {
  footer {
    width: 768px;
  }
}
@media @desktop {
  footer {
    width: 940px;
  }
}
*/
/**
	attach an opacity to any color (especially from @variable), after calling this mixin, use @resultAlphaColor as a result:
	{
	 	.alphaColor(@text-color, 0.2);
		color: @resultAlphaColor;
	}
**/
/**
	cross browser simple linear gradient
**/
/* Gradient Mixin - https://webdesign.tutsplus.com/tutorials/making-gradients-easier-with-less-mixins--cms-24072  */
/*
As mentioned, we’re only required to specify the gradient type and the colors, for example:
.gradient(linear; #2BC0E4, #EAECC6);
Notice that each parameter should be separated with a ;. We use a comma to list colors and vendor prefixes.

If you would like to customize the color stop you could write:
.gradient(linear; #2BC0E4, #EAECC6 30%);

Changing the gradient direction should be done with an angle value instead of its keyword counterpart:
.gradient(linear; #2BC0E4, #EAECC6 30%; 180deg);

The following is an example in which we create a radial gradient:
.gradient(circle; #2BC0E4, #EAECC6);

Generating a repeating gradient? No problemo:
.gradient(repeating-linear; #085078, #2BC0E4 25px, #EAECC6 50px);
In this case, make sure you adjust the background-size accordingly to see the desired result.
*/
/* Mini reset */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
body {
  background-color: #f1f3f5;
  font-weight: normal;
  color: #515961;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  padding: 16px 16px 0 16px;
  /* increasing gap for mobiles */
}
@media only screen and (min-width: 769px) {
  body {
    padding: 0;
  }
}
@media only screen and (min-width: 769px) {
  section {
    padding: 80px 0;
  }
}
h2 {
  font-size: 40px;
}
#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}
#gooMap {
  width: 100%;
  height: 500px;
  margin: 50px auto;
}
/* components */
header {
  /* Responsive bit */
  /* MENU BURGER */
}
header .logo {
  background-color: #f1f3f5;
}
@media only screen and (min-width: 769px) {
  header .logo {
    position: relative;
    left: 10%;
    padding: 16px;
    border-bottom: 8px solid #87ABCF;
    margin-bottom: -24px;
    width: 250px;
  }
}
@media only screen and (min-width: 769px) {
  header .logo img {
    width: 100%;
    padding: 0 16px 16px 16px;
  }
}
header .nav-bar {
  margin-bottom: 8px;
}
@media only screen and (min-width: 769px) {
  header .nav-bar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 0;
  }
}
header a.menu-link {
  float: right;
  display: block;
  padding: 1em;
}
header nav[role="navigation"] {
  clear: both;
  transition: all 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
}
header nav[role="navigation"].active {
  max-height: 15em;
}
header nav[role="navigation"] ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #808080;
}
header nav[role="navigation"] ul li a {
  display: block;
  padding: 0.8em;
  border-bottom: 1px solid #808080;
  color: black;
}
@media screen and (min-width: 48.25em) {
  header a.menu-link {
    display: none;
  }
  header nav[role="navigation"] {
    max-height: none;
  }
  header nav[role="navigation"] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
  }
  header nav[role="navigation"] li {
    display: inline-block;
    margin: 0 0.25em;
  }
  header nav[role="navigation"] li a {
    border: 0;
  }
}
header .content {
  height: 600px;
  background: whitesmoke;
}
header .menu-link {
  width: 30px;
  cursor: pointer;
  height: 26px;
}
header .menu-link.active .menu-icon .line.top {
  top: 12px;
  transform: rotate(45deg);
  transition-delay: 0s, 0.3s;
}
header .menu-link.active .menu-icon .line.middle {
  background-color: transparent;
  transition-delay: 0.3s;
}
header .menu-link.active .menu-icon .line.bottom {
  top: 12px;
  transform: rotate(-45deg);
  transition-delay: 0s, 0.3s;
}
header .menu-link .menu-icon {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 30px;
}
header .menu-link .menu-icon .line {
  position: absolute;
  display: block;
  height: 2px;
  width: 30px;
  background-color: #000;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 0, 0);
}
header .menu-link .menu-icon .line.top {
  top: 2px;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
  -webkit-transition-property: top, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}
header .menu-link .menu-icon .line.middle {
  top: 12px;
  transition-duration: 0s;
  transition-delay: 0.3s;
}
header .menu-link .menu-icon .line.bottom {
  top: 22px;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
  -webkit-transition-property: top, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}
.header-content {
  background: url(../img/bg-mir-winter.jpg) center / cover no-repeat;
  height: 600px;
  border-top: 8px solid #87ABCF;
}
