@font-face {
  font-family: 'exo-bold';
  src: url('../../fonts/exo-bold.woff2') format('woff2'),
  url('../../fonts/exo-bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'exo-black';
  src: url('../../fonts/exo-black.woff2') format('woff2'),
  url('../../fonts/exo-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fjallaone';
  src: url('../../fonts/fjallaone.woff2') format('woff2'),
  url('../../fonts/fjallaone.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'robotoslab';
  src: url('../../fonts/robotoslab.woff2') format('woff2'),
  url('../../fonts/robotoslab.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'oswald';
  src: url('../../fonts/oswald.woff2') format('woff2'),
  url('../../fonts/oswald.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}