/* Media queries */
@480:           ~"only screen and (min-width: 480px)";
@tablet:        ~"only screen and (min-width: 769px)";
@desktop:       ~"only screen and (min-width: 991px)";
@widescreen:    ~"only screen and (min-width: 1200px)";

/*
USE
@media @tablet {
  footer {
    width: 768px;
  }
}
@media @desktop {
  footer {
    width: 940px;
  }
}
*/

@unit: 8px;

@brand-light: #f1f3f5;
@brand-text: #1c1a20;